

.card{
    width: 350px;
    min-height: 200px;
    background: grey;
    float: left;
    padding: 20px;
}

.main_s{
    width: 100%;
    min-height: 400px;
    background: lightgray;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ch{
    width: 150px;
    height: 150px;
    /* background: green; */
    float: left;
    margin: 20px;
}